

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="/mobile.css">
  <title>Yoga2020 | Welcome</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">


  <style>
    .ui.segment{
        margin:0em;
      }
  </style>
</head>
<body>
  <header>
    <div class="ui inverted segment">
        <div href="#"class="ui inverted secondary menu">
          <img src="/favicon-32x32.png" alt="">
          <a href="/" class="active item">
            <i class="home icon"></i>Home
          </a>
          <a href="/home" class="item">
            <i class="child icon"></i>Asanas
          </a>
          <a href="/contact"class="item">
            <i class="phone volume icon"></i>Contact
          </a>
        </div>
      </div>  

    <div id="showcase">
      <div class="container">
        <div class="showcase-content">
          <h1><span class="text-primary">Enjoy</span> Yoga</h1>
          <p class="lead">"Yoga is the journey of the self, through the self, to the self."</p>
          <a class="btn" href="/home"> Yoga Asanas<i class="arrow circle right icon"></i></a>
        </div>
      </div>
    </div>
  </header>

  <section id="home-info" class="bg-dark">
    <div class="info-img"></div>
    <div class="info-content">
      <h2><span class="text-primary">The History</span> Of Yoga</h2>
      <p>
        Yoga is a five-millennia-old practice that has changed over time. Modern yoga focuses on stretches and poses designed to stimulate inner peace and physical energy. Ancient yoga was less about fitness and more about mental focus and expanding spiritual energy
      </p>
      <a href="http://www.google.com/search?q=yoga+history" target="blank"class="btn btn-light">Read More<i class="arrow circle right icon"></i></a>
    </div>
  </section>

 
  <div class="clr"></div>
<hr>
<br>
  <footer>
    <h3 style="text-align: center;">Proudly Made with <i style="color:#db2828;"class="heart icon"></i> by Amandeep Singh</h3>
  </footer>
</body>
</html>