

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Welcome to the most extraordinary hotel in Boston Massachusetts">
  <meta name="keywords" content="hotel,boston hotel,new england hotel">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="/mobile.css">
  <title>Yoga2020 | Welcome</title>
</head>
<body>
  <header>
    <div class="ui inverted segment">
        <div href="#"class="ui inverted secondary menu">
          <a href="/" class="active item">
            <i class="home icon"></i>Home
          </a>
          <a href="/home" class="item">
            Asanas
          </a>
          <a href="#"class="item">
            Contact
          </a>
        </div>
      </div>  

    <div id="showcase">
      <div class="container">
        <div class="showcase-content">
          <h1><span class="text-primary">Enjoy</span> Yoga</h1>
          <p class="lead">"Yoga is the journey of the self, through the self, to the self."</p>
          <a class="btn" href="/home">About Yoga Asanas</a>
        </div>
      </div>
    </div>
  </header>

  <section id="home-info" class="bg-dark">
    <div class="info-img"></div>
    <div class="info-content">
      <h2><span class="text-primary">The History</span> Of Yoga</h2>
      <p>
        Yoga is a five-millennia-old practice that has changed over time. Modern yoga focuses on stretches and poses designed to stimulate inner peace and physical energy. Ancient yoga was less about fitness and more about mental focus and expanding spiritual energy
      </p>
      <a href="#" class="btn btn-light">Read More</a>
    </div>
  </section>

 
  <div class="clr"></div>

  <footer>
    <h1 style="text-align: center;">Proudly Made with <i class="heart icon"></i> by Amandeep Singh</h1>
  </footer>
</body>
</html>